#discographi {
  position: relative;
  z-index: 0;
  width: 100%;
}

.discographi {
  position: relative;
  margin: 40px 0;

  &_title {
    color: #976b4e;

    &:before {
      content: "";
      margin: 0 auto;
      border-top: 1px solid #976b4e;

      // position: absolute;
      // top: 54.5%;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // width: 29%;
      // z-index: 0;
      @include bp-ip6 {
        width: 37%;
      }

      @include bp-ip6-plus {
        width: 34%;
      }

      @include bp-tablet-576 {
        width: 30%;
      }

      @include bp-desktop-sm {
        width: 50%;
      }
    }
  }

  &_subtitle {
    text-align: center;
    max-width: 779px;
    display: block;
    letter-spacing: 1px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &_wrapp {
    position: relative;
    z-index: 2;
    padding-bottom: 200px;
  }

  &_content {
    // margin-bottom: 112px;

    h3 {
      position: relative;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      @include font-size(20px);
      color: $color-default-darkest;
      text-align: left;
      margin-bottom: 15px;
      margin-top: 10px;
    }

    .discographi_time {
      margin-top: 5px;

      .date {
        color: #808080;
      }

      hr {
        border: 0.5px solid $color-default-darkest;
        margin-bottom: 5px;
        margin-top: 6px;
      }

      p {
        text-align: left;
        margin-bottom: 12px;
      }
    }

    .discographi_play {
      margin: 20px 0 50px 0;
    }

    p.discographi_para {
      text-align: left;
      margin-bottom: 24px;
    }

    .play {
      text-align: left;
    }

    .thumb {
      position: relative;

      img {
        vertical-align: middle;
        border: 0;
        @include transition(all 0.3s ease-in);
      }

      .icon-circle-play {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;

        text-align: center;
        text-transform: uppercase;
        color: $color-default-darkest;
        font-weight: 600;
        @include font-size(16px);
        @include transition(all 0.3s ease-in);
        // @include opacity(0);
        // @include transform(scale(0));
      }

      &:hover img {
        @include opacity(0.65);
        background-image: linear-gradient(
                to right,
                #f78ca0 0%,
                #f9748f 19%,
                #fd868c 60%,
                #fe9a8b 100%
        );
      }

      &:hover .icon-circle-play {
        // @include opacity(1);
        @include transform(scale(1));
        color: $color-default-lightest;
      }
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 260px;
    z-index: 1;
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/bg-discographi.png");
  }
}
@include bp-tablet-576 {
  .discographi {
    &__bg {
      height: 220px;
    }
  }
}

@include bp-tablet-600 {
  .discographi {
    &__bg {
      height: 300px;
    }
  }
}

// 640
@include bp-tablet-vertical {
}

// 769px
@include bp-desktop-sm {
  .discographi {
    &_content {
      h3 {
        margin-bottom: 25px;
      }

      .discographi_time {
        position: absolute;
        top: 6%;
        left: -100%;
        width: 100%;
      }

      .discographi_play {
        margin: 30px 0 100px 0;
      }
    }
  }
}

// 992px
@include bp-desktop-large {
  .discographi {
    &__wrapp {
      padding-bottom: 250px;
    }

    &__bg {
      height: 380px;
    }
  }
}

// 1024px
@include bp-desktop-md {
}

// width: 1280px
@include bp-desktop-1280 {
  .discographi {
    &__wrapp {
      padding-bottom: 300px;
    }

    &__bg {
      height: 480px;
    }
  }
}

// width: 1367px
@include bp-desktop-lg {
  .discographi {
    &__wrapp {
      padding-bottom: 350px;
    }

    &__bg {
      height: 540px;
    }
  }
}

#concert {
  position: relative;
  width: 100%;
}

.concert {
  position: relative;
  margin: 40px 0;
  padding-bottom: 40px;

  &__title {
    color: #62a2ad;

    &:before {
      border-top: 1px solid #62a2ad;

      @include bp-tablet-576 {
        width: 35%;
      }

      @include bp-desktop-sm {
        width: 50%;
      }

      @include bp-desktop-md {
        width: 57%;
      }
    }
  }

  &__wrapp {
    position: relative;
    width: 100%;
    height: 710px;
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: -310px center;
    background-repeat: no-repeat;
    background-image: url("../img/bg-concert.png");

    @include bp-desktop-sm {
      height: 780px;
      background-position: 52%;
    }

    @include bp-desktop-md {
      background-position: 40%;
    }
  }

  &__subtitle {
    // max-width: 720px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 15px;
  }

  &__info {
    padding: 80px 15px 20px 15px;
    justify-self: center;
    align-self: center;

    @include bp-desktop-sm {
      margin: 0 15px;
    }
    @include bp-desktop-large {
      margin: 0 150px 0 30px;
    }

    @include bp-desktop-md {
      margin: 0 150px 0 50px;
    }
    @include bp-desktop-1280 {
      margin: 0 300px 0 150px;
    }
    @include bp-desktop-lg {
      margin: 0 330px 0 150px;
    }
    @include bp-desktop-ultra {
      margin: 0 480px 0 250px;
    }

    &--left {
      margin-top: 12px;

      .date {
        color: $cl-subtitle;
      }

      hr {
        width: 50%;
        border: 0.5px solid $color-default-darkest;
        margin-bottom: 5px;
        margin-top: 6px;
      }

      p {
        text-align: left;
        margin-bottom: 12px;
        max-width: 575px;
        display: inline-block;
        padding: 0 15px 20px 0;
      }
    }

    &--right {
      @include bp-desktop-sm {
        padding-right: 200px;
      }

      @include bp-desktop-md {
        // padding-right: 350px;
      }

      @include bp-desktop-md {
        // padding-right: 420px;
      }

      h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        @include font-size(20px);
        color: $color-default-darkest;
        text-align: left;
        margin-bottom: 24px;
      }

      p {
        text-align: left;
        margin-bottom: 30px;
      }

      .btn--style {
        &:hover {
          background: $color-default-lightest;
          border: 1px solid rgba(180, 181, 181, 0.2);
          color: rgba(0, 0, 0, 0.6);

          box-shadow: 0px 15px 20px rgba(47, 90, 102, 0.4);
          transform: translateY(-2px);
        }
      }

      i.fas {
        margin-left: 10px;
      }
    }
  }
}


#lattercom {
  position: relative;
  width: 100%;
}

.lattercom {
  padding: 40px 0;
  margin: 40px 0;

  .latter__wrapp {
    padding-left: 15px;
    padding-right: 15px;

    .latter__block {
      margin-bottom: 50px;

      .latter__left {
        height: 380px;
        background-color: $color-default;
        padding: 40px;

        @include bp-desktop-sm {
          height: 460px;
        }

        @include bp-desktop-large {
          height: 420px;
        }
      }
    }

    .latter__header {
      margin-bottom: 30px;

      hr {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
      }

      p {
        text-transform: uppercase;
      }
    }

    .latter__content {
      // margin-bottom: 30px;
      margin-bottom: 25px;

      h3 {
        @include font-size(18px);
        font-weight: 400;
        margin-bottom: 15px;
        @include bp-desktop-sm {
          @include font-size(20px);
        }
        @include bp-desktop-large {
          @include font-size(22px);
        }
        @include bp-desktop-md {
          @include font-size(24px);
        }
      }
    }

    .latter__btn {
      display: block;

      @include bp-desktop-large {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .btn {
        padding: 10px 35px;
        margin-left: 0;
        padding-left: 4px;
        padding-right: 4px;

        @include bp-desktop-large {
          padding-left: 6px;
          padding-right: 6px;
        }

        @include bp-desktop-md {
          padding-right: 6px;
          padding-left: 4px;
        }
        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }

      span {
        @include font-size(13px);
        color: $cl-text;
        vertical-align: middle;

        i {
          color: #b6b6b6;
          @include font-size(18px);
          vertical-align: middle;
          &:hover {
            color: #62a2ad;
          }
        }
      }

      .btn--style {
        display: block;

        // text-align: center;
        // margin: 0 auto;
        @include bp-desktop-sm {
          padding: 8px 16px;
        }

        @include bp-desktop-large {
          padding: 10px 12px;
          @include font-size(11px);
        }

        @include bp-desktop-md {
          margin-right: 12px;
          padding: 10px 20px;
        }

        i {
          margin-left: 5px;
        }
        &:hover {
          background: $bg-light;
        }
      }

      .btn__view {
        i {
          @include font-size(22px);
        }
      }

      .btn__loved {
        padding-right: 8px;
        padding-left: 4px;
      }

      .btn__share {
        padding-right: 8px;
        padding-left: 4px;
      }

      .btn__comment {
        padding-right: 8px;
        padding-left: 4px;
      }
    }

    .latter__right {
      background: $color-default;
      padding: 0;
      margin-left: 0;
      height: 380px;

      @include bp-desktop-sm {
        height: 460px;
      }

      @include bp-desktop-large {
        height: 420px;
      }

      .card {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        position: relative;
        // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        z-index: 1;
      }

      .card--one {
        background: url("../img/latter-post-01.png") center;
      }

      .card--two {
        background: url("../img/latter-post-02.png") center;
      }

      .card--three {
        background: url("../img/latter-post-03.png") center;
      }

      .card-play {
        position: relative;
        transition: background 0.5s ease-out;
        width: 100%;
        height: 100%;

        svg {
          width: 48px;
          height: 48px;
          z-index: 2;
          margin: auto;
          opacity: 0;
          background: url("../img/play.svg") center center / cover;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          transition: all 0.5s ease-out;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.4);

          svg {
            opacity: 1;
          }
        }
      }

      .card-video {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 3;

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .latter__title {
    padding-bottom: 20px;
    color: $color-default-darkest;

    &:before {
      border-top: 1px solid $color-default-darkest;

      @include bp-ip4 {
        width: 52%;
      }

      @include bp-ip6 {
        width: 50%;
      }

      @include bp-ip6-plus {
        width: 44%;
      }

      @include bp-tablet-576 {
        width: 40%;
      }

      @include bp-desktop-sm {
        width: 62%;
      }

      @include bp-desktop-large {
        width: 70%;
      }

      @include bp-desktop-md {
        width: 72%;
      }

      @include bp-desktop-1280 {
        width: 80%;
      }
    }
  }

  .latter__subtitle {
    letter-spacing: 1px;
    text-align: center;
    padding: 0 15px;
  }
}
